In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import os
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, roc_auc_score, roc_curve, confusion_matrix, classification_report
import pickle
from pathlib import Path

In [2]:
df = pd.read_excel("HR_Merged.xlsx")
df

,Employee ID,Year of Joining,Month of Joining,Day of Joining,MonthlyIncome,MonthlyRate,NumCompaniesWorked,Over18,OverTime,PercentSalaryHike,...,EducationField,EmployeeCount,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,JobLevel,JobRole,JobSatisfaction,MaritalStatus
0,1,2007,10,18,42682,298774,2,Y,No,20,...,Medical,1,3,Male,42,2,3,Developer,1,Married
1,2,2017,4,21,45252,45252,8,Y,No,2,...,Life Sciences,1,1,Female,66,2,4,Healthcare Representative,3,Single
2,3,2013,11,7,46149,507639,7,Y,Yes,39,...,Technical Degree,1,4,Female,96,1,3,Manufacturing Director,2,Married
3,4,2000,7,26,27150,27150,4,Y,No,16,...,Marketing,1,4,Female,71,2,4,Human Resources,1,Married
4,5,1992,3,25,15894,47682,6,Y,Yes,42,...,Human Resources,1,2,Male,122,3,3,Manager,2,Divorced
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,49996,2006,11,27,49094,49094,1,Y,No,29,...,Technical Degree,1,1,Female,92,4,5,Research Director,2,Divorced
49996,49997,2010,2,16,39680,198400,4,Y,Yes,11,...,Medical,1,4,Female,112,2,2,Human Resources,3,Single
49997,49998,2019,8,10,15574,358202,1,Y,No,1,...,Technical Degree,1,4,Female,62,1,5,Manager,3,Single
49998,49999,2021,6,8,28095,252855,6,Y,Yes,15,...,Other,1,3,Male,177,1,5,Healthcare Representative,4,Single
49999,50000,2005,2,4,45023,1305667,0,Y,No,32,...,Life Sciences,1,1,Female,36,3,5,Research Director,2,Single

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 38 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Employee ID               50000 non-null  int64
 1   Year of Joining           50000 non-null  int64
 2   Month of Joining          50000 non-null  int64
 3   Day of Joining            50000 non-null  int64
 4   MonthlyIncome             50000 non-null  int64
 5   MonthlyRate               50000 non-null  int64
 6   NumCompaniesWorked        50000 non-null  int64
 7   Over18                    50000 non-null  object
 8   OverTime                  50000 non-null  object
 9   PercentSalaryHike         50000 non-null  int64
 10  PerformanceRating         50000 non-null  int64
 11  RelationshipSatisfaction  50000 non-null  int64
 12  StandardHours             50000 non-null  int64
 13  StockOptionLevel          50000 non-null  int64
 14  TotalWorkingYears         50000 non-null  int64
 15  TrainingTimesLastYear     50000 non-null  int64
 16  WorkLifeBalance           50000 non-null  int64
 17  YearsAtCompany            50000 non-null  int64
 18  YearsInCurrentRole        50000 non-null  int64
 19  YearsSinceLastPromotion   50000 non-null  int64
 20  YearsWithCurrManager      50000 non-null  int64
 21  Age                       50000 non-null  int64
 22  Attrition                 50000 non-null  object
 23  BusinessTravel            50000 non-null  object
 24  DailyRate                 50000 non-null  int64
 25  Department                50000 non-null  object
 26  DistanceFromHome          50000 non-null  int64
 27  Education                 50000 non-null  int64
 28  EducationField            50000 non-null  object
 29  EmployeeCount             50000 non-null  int64
 30  EnvironmentSatisfaction   50000 non-null  int64
 31  Gender                    50000 non-null  object
 32  HourlyRate                50000 non-null  int64
 33  JobInvolvement            50000 non-null  int64
 34  JobLevel                  50000 non-null  int64
 35  JobRole                   50000 non-null  object
 36  JobSatisfaction           50000 non-null  int64
 37  MaritalStatus             50000 non-null  object
dtypes: int64(29), object(9)
memory usage: 14.5+ MB

In [4]:
df.describe()

,Employee ID,Year of Joining,Month of Joining,Day of Joining,MonthlyIncome,MonthlyRate,NumCompaniesWorked,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,...,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,JobSatisfaction
count,50000.000000,50000.000000,50000.000000,50000.000000,50000.00000,5.000000e+04,50000.000000,50000.00000,50000.000000,50000.000000,...,50000.000000,50000.000000,50000.000000,50000.000000,50000.0,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000
mean,25000.500000,2001.503140,6.480980,14.467600,26015.78126,4.040436e+05,3.999000,24.61832,2.495960,2.502220,...,38.971480,798.677560,25.539780,3.004600,1.0,2.498360,115.432940,2.502620,2.994640,2.487380
std,14433.901067,11.575819,3.461485,8.074395,14410.97750,3.401908e+05,2.582373,14.40500,1.118092,1.117918,...,12.420834,405.080217,14.339956,1.414249,0.0,1.119671,49.424867,1.120544,1.415998,1.116309
min,1.000000,1982.000000,1.000000,1.000000,1001.00000,1.007000e+03,0.000000,0.00000,1.000000,1.000000,...,18.000000,100.000000,1.000000,1.000000,1.0,1.000000,30.000000,1.000000,1.000000,1.000000
25%,12500.750000,1991.000000,3.000000,8.000000,13519.75000,1.228410e+05,2.000000,12.00000,1.000000,2.000000,...,28.000000,445.000000,13.000000,2.000000,1.0,1.000000,73.000000,1.000000,2.000000,1.000000
50%,25000.500000,2002.000000,6.000000,14.000000,25988.50000,3.106300e+05,4.000000,25.00000,2.000000,2.000000,...,39.000000,798.000000,25.000000,3.000000,1.0,2.000000,116.000000,3.000000,3.000000,2.000000
75%,37500.250000,2011.000000,9.000000,21.000000,38460.25000,6.105750e+05,6.000000,37.00000,3.000000,4.000000,...,50.000000,1151.000000,38.000000,4.000000,1.0,4.000000,158.000000,4.000000,4.000000,3.000000
max,50000.000000,2021.000000,12.000000,28.000000,50999.00000,1.528290e+06,8.000000,49.00000,4.000000,4.000000,...,60.000000,1500.000000,50.000000,5.000000,1.0,4.000000,200.000000,4.000000,5.000000,4.000000

In [5]:
df.shape

(50000, 38)

In [6]:
df.head(5)

,Employee ID,Year of Joining,Month of Joining,Day of Joining,MonthlyIncome,MonthlyRate,NumCompaniesWorked,Over18,OverTime,PercentSalaryHike,...,EducationField,EmployeeCount,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,JobLevel,JobRole,JobSatisfaction,MaritalStatus
0,1,2007,10,18,42682,298774,2,Y,No,20,...,Medical,1,3,Male,42,2,3,Developer,1,Married
1,2,2017,4,21,45252,45252,8,Y,No,2,...,Life Sciences,1,1,Female,66,2,4,Healthcare Representative,3,Single
2,3,2013,11,7,46149,507639,7,Y,Yes,39,...,Technical Degree,1,4,Female,96,1,3,Manufacturing Director,2,Married
3,4,2000,7,26,27150,27150,4,Y,No,16,...,Marketing,1,4,Female,71,2,4,Human Resources,1,Married
4,5,1992,3,25,15894,47682,6,Y,Yes,42,...,Human Resources,1,2,Male,122,3,3,Manager,2,Divorced

In [7]:
df.tail(5)

,Employee ID,Year of Joining,Month of Joining,Day of Joining,MonthlyIncome,MonthlyRate,NumCompaniesWorked,Over18,OverTime,PercentSalaryHike,...,EducationField,EmployeeCount,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,JobLevel,JobRole,JobSatisfaction,MaritalStatus
49995,49996,2006,11,27,49094,49094,1,Y,No,29,...,Technical Degree,1,1,Female,92,4,5,Research Director,2,Divorced
49996,49997,2010,2,16,39680,198400,4,Y,Yes,11,...,Medical,1,4,Female,112,2,2,Human Resources,3,Single
49997,49998,2019,8,10,15574,358202,1,Y,No,1,...,Technical Degree,1,4,Female,62,1,5,Manager,3,Single
49998,49999,2021,6,8,28095,252855,6,Y,Yes,15,...,Other,1,3,Male,177,1,5,Healthcare Representative,4,Single
49999,50000,2005,2,4,45023,1305667,0,Y,No,32,...,Life Sciences,1,1,Female,36,3,5,Research Director,2,Single

In [8]:
df.dtypes

Employee ID                  int64
Year of Joining              int64
Month of Joining             int64
Day of Joining               int64
MonthlyIncome                int64
MonthlyRate                  int64
NumCompaniesWorked           int64
Over18                      object
OverTime                    object
PercentSalaryHike            int64
PerformanceRating            int64
RelationshipSatisfaction     int64
StandardHours                int64
StockOptionLevel             int64
TotalWorkingYears            int64
TrainingTimesLastYear        int64
WorkLifeBalance              int64
YearsAtCompany               int64
YearsInCurrentRole           int64
YearsSinceLastPromotion      int64
YearsWithCurrManager         int64
Age                          int64
Attrition                   object
BusinessTravel              object
DailyRate                    int64
Department                  object
DistanceFromHome             int64
Education                    int64
EducationField              object
EmployeeCount                int64
EnvironmentSatisfaction      int64
Gender                      object
HourlyRate                   int64
JobInvolvement               int64
JobLevel                     int64
JobRole                     object
JobSatisfaction              int64
MaritalStatus               object
dtype: object

In [13]:
# FAST, SAFE HR ATTRITION PIPELINE (optimized)
import os, pickle, warnings
warnings.filterwarnings("ignore")
import pandas as pd, numpy as np
from pathlib import Path
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, roc_auc_score, roc_curve, confusion_matrix

# LOAD (try local then /mnt/data)
data_paths = ["HR_Merged.xlsx", "/mnt/data/HR_Merged.xlsx"]
df = None
for p in data_paths:
    try:
        df = pd.read_excel(p)
        DATA_PATH = p
        break
    except Exception as e:
        last_err = e
if df is None:
    raise FileNotFoundError("HR_Merged.xlsx not found. Place it in the notebook working directory.")

# OUTPUT FOLDER (local)
OUT_DIR = "hr_attrition_outputs"
os.makedirs(OUT_DIR, exist_ok=True)

# BASIC CLEANUP
drop_cols = ["EmployeeCount", "StandardHours", "Over18", "Employee ID", "EmployeeID", "Employee Id"]
df = df.drop(columns=[c for c in drop_cols if c in df.columns], errors='ignore')
df.columns = [c.strip() for c in df.columns]

# DETECT TARGET
def detect_target_column(df):
    for name in ["Attrition", "attrition", "Left", "Resigned"]:
        if name in df.columns:
            return name
    for c in df.columns:
        s = df[c].dropna().astype(str).str.strip().str.upper()
        if set(s.unique()).issubset({"YES","NO","Y","N"}):
            return c
    return None

target_col = detect_target_column(df)
if target_col is None:
    raise RuntimeError("Could not detect attrition column. Ensure a Yes/No column exists.")
df['target_attrition'] = df[target_col].replace({'Yes':1,'Y':1,'YES':1,'yes':1,'y':1,
                                                  'No':0,'N':0,'NO':0,'no':0,'n':0}).astype(int)

# MISSING VALUES (small report)
missing = df.isna().sum().sort_values(ascending=False).head(200)
missing.to_csv(os.path.join(OUT_DIR, "missing_values_head200.csv"))

# FEATURES (preferred list)
preferred = [
    'Age','MonthlyIncome','NumCompaniesWorked','YearsAtCompany','YearsInCurrentRole',
    'OverTime','JobSatisfaction','WorkLifeBalance','EnvironmentSatisfaction',
    'Education','EducationField','JobRole','Department','Gender','MaritalStatus'
]
features = [c for c in preferred if c in df.columns]
if not features:
    num_cols = df.select_dtypes(include=[np.number]).columns.tolist()
    cat_cols = df.select_dtypes(include=['object','category']).columns.tolist()
    features = num_cols[:8] + cat_cols[:6]

pd.Series(features).to_csv(os.path.join(OUT_DIR, "chosen_features.csv"), index=False)

X = df[features].copy()
y = df['target_attrition'].copy()

# reduce high-cardinality categorical
num_features = X.select_dtypes(include=[np.number]).columns.tolist()
cat_features = [c for c in X.columns if c not in num_features]
for c in cat_features:
    if X[c].nunique() > 50:
        top = X[c].value_counts().nlargest(25).index
        X[c] = X[c].where(X[c].isin(top), other='Other')

# sample down if very large (speeds things up)
if len(X) > 20000:
    X_sampled, _, y_sampled, _ = train_test_split(X, y, train_size=20000, stratify=y, random_state=42)
else:
    X_sampled, y_sampled = X, y

X_train, X_test, y_train, y_test = train_test_split(X_sampled, y_sampled, test_size=0.20, stratify=y_sampled, random_state=42)

# PREPROCESSORS & PIPELINES (faster RF)
num_transformer = Pipeline([('imputer', SimpleImputer(strategy='median')), ('scaler', StandardScaler())])
cat_transformer = Pipeline([('imputer', SimpleImputer(strategy='most_frequent')), ('onehot', OneHotEncoder(handle_unknown='ignore', sparse=False))])
preprocessor = ColumnTransformer([('num', num_transformer, num_features), ('cat', cat_transformer, cat_features)], sparse_threshold=0)

pipe_lr = Pipeline([('preprocessor', preprocessor), ('clf', LogisticRegression(max_iter=1000, class_weight='balanced'))])
pipe_rf = Pipeline([('preprocessor', preprocessor), ('clf', RandomForestClassifier(n_estimators=100, random_state=42, n_jobs=-1, class_weight='balanced'))])

pipe_lr.fit(X_train, y_train)
pipe_rf.fit(X_train, y_train)

# EVALUATE
def evaluate(pipe, Xv, yv):
    y_pred = pipe.predict(Xv)
    try:
        y_proba = pipe.predict_proba(Xv)[:,1]
    except:
        y_proba = np.zeros_like(y_pred, dtype=float)
    metrics = {
        'accuracy': float(accuracy_score(yv, y_pred)),
        'precision': float(precision_score(yv, y_pred, zero_division=0)),
        'recall': float(recall_score(yv, y_pred, zero_division=0)),
        'f1': float(f1_score(yv, y_pred, zero_division=0)),
    }
    metrics['roc_auc'] = float(roc_auc_score(yv, y_proba)) if len(np.unique(yv))>1 and len(np.unique(y_proba))>1 else float('nan')
    return metrics, y_pred, y_proba

metrics_lr, ypred_lr, yproba_lr = evaluate(pipe_lr, X_test, y_test)
metrics_rf, ypred_rf, yproba_rf = evaluate(pipe_rf, X_test, y_test)
metrics_df = pd.DataFrame([metrics_lr, metrics_rf], index=['LogisticRegression','RandomForest'])
metrics_df.to_csv(os.path.join(OUT_DIR, "model_metrics.csv"))

# save pipelines & small previews
with open(os.path.join(OUT_DIR, "pipeline_logistic.pkl"), "wb") as f: pickle.dump(pipe_lr, f)
with open(os.path.join(OUT_DIR, "pipeline_randomforest.pkl"), "wb") as f: pickle.dump(pipe_rf, f)

sample_preds = X_test.reset_index(drop=True).head(200).copy()
sample_preds['true_attrition'] = y_test.reset_index(drop=True).head(200)
sample_preds['pred_lr'] = ypred_lr[:200]
sample_preds['prob_lr'] = yproba_lr[:200]
sample_preds['pred_rf'] = ypred_rf[:200]
sample_preds['prob_rf'] = yproba_rf[:200]
sample_preds.to_csv(os.path.join(OUT_DIR, "sample_predictions_head200.csv"), index=False)

df.head(200).to_csv(os.path.join(OUT_DIR, "preview_cleaned_head200.csv"), index=False)

# PLOTS: attrition counts & confusion & ROC
fig = plt.figure(figsize=(5,4)); df['target_attrition'].value_counts().plot(kind='bar'); plt.title("Attrition Counts"); fig.savefig(os.path.join(OUT_DIR, "attrition_counts.png")); plt.close()
cm = confusion_matrix(y_test, (ypred_lr if metrics_df.loc['LogisticRegression','roc_auc']>=metrics_df.loc['RandomForest','roc_auc'] else ypred_rf))
fig = plt.figure(figsize=(5,4)); plt.imshow(cm, cmap=plt.cm.Blues); plt.title("Confusion"); fig.savefig(os.path.join(OUT_DIR, "confusion_matrix.png")); plt.close()
try:
    best_proba = yproba_lr if metrics_df.loc['LogisticRegression','roc_auc']>=metrics_df.loc['RandomForest','roc_auc'] else yproba_rf
    fpr,tpr,_ = roc_curve(y_test, best_proba)
    fig = plt.figure(figsize=(6,5)); plt.plot(fpr,tpr); plt.plot([0,1],[0,1],'--'); fig.savefig(os.path.join(OUT_DIR, "roc_curve.png")); plt.close()
except: pass

print("Done. Outputs saved to folder:", OUT_DIR)
print("Files:", sorted([str(p) for p in Path(OUT_DIR).glob('*')]))
print("Model metrics:\n", metrics_df)

Done. Outputs saved to folder: hr_attrition_outputs
Files: ['hr_attrition_outputs/attrition_counts.png', 'hr_attrition_outputs/chosen_features.csv', 'hr_attrition_outputs/confusion_matrix.png', 'hr_attrition_outputs/missing_values_head200.csv', 'hr_attrition_outputs/model_metrics.csv', 'hr_attrition_outputs/pipeline_logistic.pkl', 'hr_attrition_outputs/pipeline_randomforest.pkl', 'hr_attrition_outputs/preview_cleaned_head200.csv', 'hr_attrition_outputs/roc_curve.png', 'hr_attrition_outputs/sample_predictions_head200.csv']
Model metrics:
                     accuracy  precision    recall        f1   roc_auc
LogisticRegression   0.50050   0.502535  0.493526  0.497990  0.501655
RandomForest         0.50775   0.509573  0.516932  0.513226  0.512756

In [14]:
import pickle
import pandas as pd

# Load saved model
with open("hr_attrition_outputs/pipeline_randomforest.pkl", "rb") as f:
    model = pickle.load(f)

# Example new employee row
new_employee = pd.DataFrame([{
    "Age": 32,
    "MonthlyIncome": 42000,
    "NumCompaniesWorked": 2,
    "YearsAtCompany": 3,
    "YearsInCurrentRole": 2,
    "OverTime": "Yes",
    "JobSatisfaction": 3,
    "WorkLifeBalance": 2,
    "EnvironmentSatisfaction": 4,
    "Education": 3,
    "EducationField": "Engineering",
    "JobRole": "Manufacturing Director",
    "Department": "Operations",
    "Gender": "Male",
    "MaritalStatus": "Married"
}])

# Predict attrition (0 = stays, 1 = leaves)
prediction = model.predict(new_employee)[0]

# Probability of leaving
prob = model.predict_proba(new_employee)[0][1]

print("Prediction:", prediction)
print("Probability of leaving:", prob)

Prediction: 1
Probability of leaving: 0.53